<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pedro Aquino</title>

<!--CSS Stylesheet link-->
  <link rel="stylesheet" href="../static/css/styles.css">

<!--Google Fonts link-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<!--Bootstrap link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body id="body">

<!--Bootstrap NavBar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#body">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills-div">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Top Container-->
  <div class="top-container">
    <div class="title-text">
      <h1 id="intro-text">My name is Pedro.</h1>
      <h2 id="intro-subtext">I'm a <span class="pro">pro</span>grammer and computer science student.</h2>
    </div>
  </div>

<!--Middle Container-->
  <div class="middle-container">
    <div class="profile">
      <img id="profile-image" src="../static/images/pedro-cropped.png" alt="pedro-profile-img">
      <h2 id="hello">Hello.</h2>
      <p id="intro">I am an Computer Science student and Web Developer.</p>
    </div>
    <div class="skills" id="skills-div">
      <h2 id="skills">My Skills</h2>

<!--Bootstrap Cards Container-->
      <div class="container">
        <div class="row" id="row">

          <div class="card col-sm-12 col-lg-4 col-md-12 mx-auto" style="width: 18rem;">
            <img src="../static/images/html-5.png" class="card-img-top" alt="hmtl-5">
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">I can structure webpages with my intermediate knowledge about HTML 5</p>
            </div>
          </div>

          <div class="card col-sm-12 col-md-12 col-lg-4 mx-auto" style="width: 18rem;">
            <img src="../static/images/css-3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CSS & Bootstrap</h5>
              <p class="card-text">I can also style webpages with my knowledge about CSS 3 and Bootstrap</p>
            </div>
          </div>

          <div class="card col-sm-12 col-lg-4 col-md-12 mx-auto" style="width: 18rem;">
            <img src="../static/images/python-3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">I can make web applications, web scrapping and data science with Python.</p>
            </div>
          </div>

        </div>
      </div>

      </div>

    </div>

<!--Contact Me-->

    <div class="contact-me" id="contact">
      <h2>Get In Touch</h2>
      <h3>If you liked this first webpage i make and need a Python developer, contact me.</h3>
      <p class="contact-message">If you just wanna talk with somebody, feel free to contact me <either class=""></either></p>
      <a id="btn" href="mailto:pcardosodeaquino@gmail.com">CONTACT ME</a>
    </div>

<!--Bottom Container w/ font-awesome icons-->
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/pedro-ivo-cardoso-de-aquino-25a1a218a/">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a class="footer-link" href="https://twitter.com/pedro_c_aquino">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="footer-link" href="https://github.com/pedro-c-aquino">
      <i class="fab fa-github"></i>
    </a>
    <p class="copyright">© 2021 Pedro Aquino.</p>
  </div>

<!--Bootstrap Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!--Font-Awesome Script-->
  <script src="https://kit.fontawesome.com/4c3e9b41e8.js" crossorigin="anonymous"></script>
</body>

</html>
